[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "shaderc"]
	path = shaderc
	url = https://github.com/google/shaderc
[submodule "SPIRV-Cross"]
	path = SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
