[submodule "third_party/vulpesrender"]
	path = third_party/vulpesrender
	url = https://github.com/fuchstraumer/vulpesrender
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/shadertools"]
	path = third_party/shadertools
	url = https://github.com/fuchstraumer/ShaderTools
[submodule "third_party/tinyobjloader"]
	path = third_party/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "third_party/shadergen"]
	path = third_party/shadergen
	url = https://github.com/fuchstraumer/shadergen
